.pageTitle {
    font-weight: 600;
    font-size: 45px;
    line-height: 57px;
    color: #141517;
    margin-left: 24px;
}

.mainImg {
    width: 40px;
    height: 40px;
}

.calendarMain {
    display: flex;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    align-items: flex-start;
}

.leftSide {
    margin-right: 10px;
    box-sizing: border-box;
}

.rightSide {
    width: 100%;
    background: #ffff;
    height: 830px;
}

.calendarHead {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid #ABC3E6;
    padding-left: 30px;
}

.calendar {
    box-sizing: border-box;
    background: #ffffff;
}

.headTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #141517;
}
.doctorsList{
    background: #ffffff;
    margin-top: 40px;
    max-height: 500px;
}
.userAva{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.getlist{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}
.searchDoc{
    padding: 20px;
    overflow: scroll;
    height: 250px;
}
.shedHead{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 2px solid  #ABC3E6;
    align-items: center;
}
.userData{
    display: flex;
}
.doctorName{
    font-size: 24px;
    line-height: 29px;
    color: #141517;
    margin: 0;
}
.doctorProf{
    margin: 0;
    color: #92AFDC;
}
.shedBody{
    padding: 60px;
}
.shedTitle{
    color: #141517;
    font-weight: 600;
}
.shedItem{
    width: 100%;
    height: 100px;
    background: #EEF0F4;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 6px solid #ABC3E6;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.patientName{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0cm;
    color: #92AFDC;

}
.visitTime{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #92AFDC;
    margin: 0;

}
.modHead{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid  #ABC3E6;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 600;
font-size: 24px;
line-height: 29px;


color: #141517;
}
.modBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.modform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chooseTime{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
